html {
    font-family: monospace;
}
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
textarea {
    width: 99%;
    height: 8em;
    resize: none;
}

h1:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-bottom: 0px;
}

.text {
    padding: 2px;
    overflow: hidden;
}
.w100 {
    max-width: 960px;
    width: 100%;
    margin: auto;
}
.w62 {
    max-width: 600px;
    width: 62.5%;
    float: left;
}
.w37 {
    max-width: 360px;
    width: 37.5%;
    float: right;
}

div.button:hover {
    border-width: 2px;
    cursor: pointer;
}
div.button {
    width: 100%;
    border: 1px solid gray;
    margin-top: 4px;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
}

div#head {
}
div#subhead {
    text-align: center;
    margin-bottom: 4px;
}
div#user {
    display: inline;
}
div#working {
    display: inline;
}
div#main {
}
div#footer {
    clear: both;
    text-align: center;
    margin-bottom: 4px;
}

/* cards for list of areas */
div.card:hover {
    border-width: 2px;
    cursor: pointer;
}
div.card {
    width: 236px;
    height: 382px;
    border: 1px solid gray;
    margin: 2px;
    float: left;
}
div.card_top {
    height: 37.5%;
}
div.card_bottom {
    height: 62.5%;
    text-align: center;
    font-variant: small-caps;
    display: flex;
    flex-flow: column;
}
div.card_map, .card_review, .card_done {
    width: 100%;
    min-height: 8%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
div.card_map {
    background-color: gray;
    flex-grow: 1;
}
div.card_review {
    background-color: silver;
}
div.card_done {
}

/* commits */
div#commits {
}
div.commit:hover {
    border-width: 2px;
    cursor: pointer;
}
div.commit {
    width: 100%;
    border: 1px solid gray;
    margin: 4px;
}
div.commit_message {
}
div.commit_sign {
    text-align: right;
}

/* area */
div#tags{
}
div#stats {
    margin-bottom: 4px;
    text-align: center;
    font-variant: small-caps;
    display: flex;
    flex-flow: row;
}
div.stats_map, .stats_review, .stats_done {
    height: 100%;
    min-width: 16%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
div.stats_map {
    background-color: gray;
    flex-grow: 1;
}
div.stats_review {
    background-color: silver;
}
div.stats_done {
}
div#description {
    border: 1px solid gray;
}
    div#description_lang {
        margin-top: 4px;
    }
    div.description_button:hover {
        border-bottom: 1px solid gray;
        cursor: pointer;
    }
    div.description_button {
        width: 0%;
        margin: 4px;
        text-align: center;
        display: inline;
    }
    div#description_text {
        margin-top: 4px;
    }
    div#description_tr {
        display: none;
    }
    textarea#description_tr_lang {
        margin-top: 4px;
        height: 1.5em;
    }
    textarea#description_tr_text {
        margin-top: 4px;
    }
div#instructions {
}
div#actions {
}
div#rate {
}
div#score {
}
div.column {
    width: 50%;
    float: left;
    text-align: center;
}

div#msg_div {
    display: none;
}
div#messages {
    overflow: auto;
    height: 12em;
}
